<div class="welcome-back-ground">
  <div class="welcome-text">
    <p>Qays Alghazali</p>
  <p>Full-Stack Web Developer..
    <span>|</span></p>
  </div>
  <div class="dash-board">
    <div class="play-btn-container">
      <button type="button" ng-click=goGame() name="button">play</button>
    </div>
    <div class="nav">
      <div class="left-edge">

      </div>
      <div class="middle">
          <ul>
            <li><a ui-sref="about">About</a></li>
            <li><a href="https://www.linkedin.com/in/qais11/">LinkedIn</a></li>
            <li><a href="https://github.com/qais11">GitHub</a></li>
            <li><a href="https://qais11.github.io/portfilio/">Portfolio</a></li>
          </ul>
      </div>
      <div class="right-edge">
      </div>
    </div>
  </div>
</div>
