<div class="about-back-ground">
<div class="about-text">
  <p>This project is showing my portifolio in a fun way.</br>
    the main reson of building it, Is to prove, that there is no limit for Javascript abilities </br>
    And we -as developers- can turn any idea into an actual project </br>
  </br>
    I used Angular,JS , HTML5 , CSS3 And PIXI JS to build the Canvas, </br>
    and all the elements inside it . </br>
    This project got me a lot of work using PhotoShop , in order to edit</br>
    and modify Images , like the spaceShip , Galaxies ... etc </br>
  </br>
    created with ♥ by Qays Alghazali ...<span>|</span>
  </p>
</div>
<div class="btns-container">
  <button type="button" ng-click=go() name="button">BACK</button>
  <button type="button" ng-click=goGame() name="button">GAME</button>
</div>
</div>
